@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background-color: $Light-Grayish-Violet;
}


.profile {
    &__text-box {
        width: 100%;
        margin: 20px 0 0 10px;
        font-weight: 500;

        &--main {
            font-size: .6rem;
            color: $white-color;
        }

        &--sub {
            display: block;
            font-size: .4rem;
            color: $Pale-Violet;
        }
    }
}

.dog-walker {
    &__text {
        color: $Moderate-Violet;
        background: rgba($Pale-Violet, .2);
        border-radius: 10px 10px 10px 5px;
        @include general-chat-style;
        width: 60%;

        &--1,
        &--2 {
            margin-top: $margin-top-small;
        }

        &--3 {
            margin-top: $margin-top-small;
            margin-bottom: $margin-bottom-small;
        }

    }

}

.client {
    
    &__text {      
        @include general-chat-style;
        color: $Desaturated-Dark-Violet;
        background: $white-color;
        border-radius: 10px 10px 5px 10px;

        &:nth-child(2) {
            margin-top: $margin-top-small;
            width: 80%;
            margin-left: 20px;
        }

    }

}

.card {
    &__text-box {
        z-index: 5;
        position: absolute;
        top: 32%;
        left: 38%;
        margin-left: 5rem;
        animation: move-in-right 3s ease-out;

        @include responsive(mobile-landscape) {
            top: 29%;
            left: 43%;
        }

        @include responsive(ipad) {
            top: 36%;
            left: 43%;
        }

        @include responsive(mobile) {
            top: 70%;
            left: -20%;
            text-align: center;
        }

        @include responsive(mobile-height) {
            top: 70%;
            left: -18%;
        }

        @include responsive(mobile-height-2) {
            top: 125%;
        }

        

        &__heading {
            font-size: 3rem;
            margin-bottom: 1rem;
            color: $Very-Dark-Desaturated-Violet;

            @include responsive(ipad) {
                font-size: 2.2rem;
            }
            
            @include responsive(mobile) {
                font-size: 2.4rem;
            }

            @include responsive(mobile-height-2) {
                font-size: 2.1rem;
            }
        }

        &__sub {
            color: $Dark-Grayish-Violet;
            font-size: 1.2rem;
            width: 40vw;

            

            @include responsive(ipad) {
                width: 95%;
                font-size: 1rem;
            }

            @include responsive(mobile) {
                font-size: 1rem;
                width: 100%;
                padding: 1rem;
                margin: 0 auto;
            }
        }
    }
}